// Put imports here!
@import 'colors';


// Put any variable declarations here!

@mixin sideMarginAuto() {
    margin-left: auto;
    margin-right: auto;
}

// Put your actual Sassy CSS code here!
h1 {
    color: $spotifyGreen;
}

.container {

    width: calc(100% - 40px);
    @include sideMarginAuto();

    ul, ol {
        color: red;
    }
    
    ul {
        font-family: sans-serif;
    }

    ol {
        font-family: monospace;
    }

    &.first {
        p {
            background-color: blue;
        }
    }
    
    &.second {
        p {
            background-color:orange;
        }
       
    }

    &:hover {
        color:green;
    }

}


